<link rel="stylesheet" href="/css/todos.css" />
<script src="/js/todos.js"></script>

<div class="todos-sample">
  <div class="todos-wrapper">
      <div class="todos">
        <div class="todos-header">
          <h2 class="todos-header-title">Todos</h2>
        </div>


        <div class="todo-wrapper">
          <% @todos.each do |todo| %>
            <div class="todo">
              <h3 class="todo-title">
                <%= todo.name %>
              </h3>
              <nav>
                <ul>
                  <li>
                    <a class="button" href="/todos/<%= todo.id %>">Show</a>
                  </li>
                  <li>
                    <a class="button" href="/todos/<%= todo.id %>/edit">Edit</a>
                  </li>
                  <li>
                    <form action="/todos/<%= todo.id %>" method="post">
                      <input type="hidden" name="_method" value="delete" />
                      <input class="button" onclick="pop_window();" type="submit" value="Delete" />
                    </form>
                  </li>
                </ul>
              </nav>
            </div>
          <% end %>

          <div class="new-todo">
            <a class="new-todo-link" href="/todos/new">New Todo</a>
          </div>
        </div>

      </div>
  </div>
</div>
