<h1>New Todo</h1>

<form action="/todos" method="POST" >
  <label for="todos">New Todo</label>
  <input id="todos" name="todos[name]" type="string" />
  <input name="commit" type="submit" value="Create Todo" />
</form>

<a href="/todos">Back</a>
